body {
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: red;
}

p {
  font-size: 16px;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: red;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  display:flex;
  background-color: red;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  width: 350px;
  max-width: 90%;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}


form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

input, textarea {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
}

textarea {
  height: 80px;
  resize: none;
}

@media (max-width: 600px) {

  h1 {
    font-size: 28px;
  }

  .card {
    padding: 5px;
  }

  button {
    font-size: 14px;
  }

}


